.App {
  text-align: center;
}

.App-header {
  background-color: #28Ac94;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: wheat;
}

img{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}