.App {
  text-align: center;
}

.App-header {
  /* background-color: #28Ac94; */
  background-color: #f8dae2;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:whitesmoke;
  font-family: 'Slackey', cursive;
 


}

img{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h1 {
  text-shadow: 2px 2px #000000;
}

h2 {
  text-shadow: 2px 2px #000000;
  font-family: 'Slackey', cursive;
  color:whitesmoke;
  background-color: #bef5f5;
}

h3 {
  /* text-shadow: 2px 2px #000000; */
  font-family: 'Slackey', cursive;
  color:black;
  /* background-color: #d9f1f1; */
}